# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe

# DUB
dub.selections.json
.dub
docs.json
__dummy.html

# IDE/Editor configs
.idea/workspace.xml
*.sublime-workspace

# Project-specific files
bin/
link_saver
private/
*.tgz
*.tar.gz
