body {
    font-family: Roboto !important;
    font-size: 13pt !important;
    font-weight: 300 !important;
    background-color: #263238;
    color: #eceff1;
}

.delete {
    /*font-size: 200%;*/
}

/* unvisited link */
a:link {
    color: #ffc107;
}

/* visited link */
a:visited {
    color: #ffc107;
}

/* mouse over link */
a:hover {
    color: #ffc107;
}

td {
    max-width: 400px;
}
.material-form {
    color: #797979;
    font-family: 'Open Sans Condensed', arial, sans;
    width: 500px;
    padding: 30px;
    font: 16px Arial, Helvetica, sans-serif;
    background: #f5f5f5;
    margin: 50px auto;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);
}

.material-form .error {
    background: #f44336;
    color: #f5f5f5;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 18px;
    font-weight: 300;
    padding: 20px;
    margin: -30px -30px 30px -30px;
}

.material-form h2 {
    background: #673ab7;
    /*text-transform: uppercase;*/
    font-family: 'Open Sans Condensed', sans-serif;
    color: #f5f5f5;
    font-size: 18px;
    font-weight: bold;
    padding: 20px;
    margin: -30px -30px 30px -30px;
}

.material-form input[type="text"],
.material-form input[type="date"],
.material-form input[type="datetime"],
.material-form input[type="email"],
.material-form input[type="number"],
.material-form input[type="search"],
.material-form input[type="time"],
.material-form input[type="url"],
.material-form input[type="password"],
.material-form textarea,
.material-form select
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    font: 16px Arial, Helvetica, sans-serif;
    height: 45px;
}
.material-form textarea{
    resize:none;
    overflow: hidden;
}
.material-form input[type="button"],
.material-form input[type="submit"]{
    -moz-box-shadow: inset 0px -1px 0px 0px #ff6f00;
    -webkit-box-shadow: inset 0px -1px 0px 0px #ff6f00;
    box-shadow: inset 0px -1px 0px 0px #ff6f00;
    background-color: #ffc107;
    border: 1px solid #ffa000;
    display: inline-block;
    cursor: pointer;
    color: #f5f5f5;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    padding: 8px 18px;
    font-weight: bold;
    text-transform: uppercase;
}
.material-form input[type="button"]:hover,
.material-form input[type="submit"]:hover {
    background:linear-gradient(to bottom, #ffc107 5%, #ffb300 100%);
    background-color:#ffb300;
}

/*
body {
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #3b3b3b;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  background: #2b2b2b;
}

.wrapper {
  margin: 0 auto;
  padding: 40px;
  max-width: 800px;
}
*/
table {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  line-height: 20px;
  font-weight: 400;
  margin: 0 0 40px 0;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  display: table;
}
@media screen and (max-width: 580px) {
  table {
    display: block;
  }
}

tr {
  display: table-row;
  background: #263238;
}
tr:nth-of-type(odd) {
  background: #37474f;
}
th {
  font-weight: 900;
  color: #f5f5f5;
  background: #673ab7;
}
@media screen and (max-width: 580px) {
  th {
    padding: 8px 0;
    display: block;
  }
}

td {
  padding: 6px 12px;
  display: table-cell;
}
@media screen and (max-width: 580px) {
  td {
    padding: 2px 12px;
    display: block;
  }
}
