body {
    font-family: Roboto !important;
    font-size: 13pt !important;
    font-weight: 300 !important;
    background-color: #263238;
    color: #eceff1;
}

.delete {
    /*font-size: 200%;*/
}

/* unvisited link */
a:link {
    color: #ff9800;
}

/* visited link */
a:visited {
    color: #ff9800;
}

/* mouse over link */
a:hover {
    color: #ff9800;
}

